/* There are two kinds of rules. One for devices with max-width 959px. One for devices with min-width 960px*/

/* the rules for devices with min-width 960px*/
/* the general rules for bread-html,cake.html and cookie.html */
*{
	color: Chocolate;
}
main {
	max-width: 1000px;
	min-width: 960px;
	border: 4px double Chocolate;
	border-radius: 50px;
	margin: 10px auto 10px auto;	
	text-align: center;
	background-color: #efefef;
}
h1{
	text-align: center;
	font-family: 'CursiveSerifOblique';
	font-weight: bold;
	font-style: italic;
	font-size: 80px;
	margin:20px auto 20px auto; 
}
nav {
	text-align: center;
}
nav>a {
	display: inline;
	margin: 10px 0px;
	padding:0px 15px; 
}
nav>a:link {
	color: Chocolate;
	text-decoration: none;
}
nav>a:hover {
	color: Chocolate;
	text-decoration: underline;
}
nav>a:active {
	color: Chocolate;
	text-decoration: none;
	background-color: gray;
}
.nav-item {
	border-right: 1px solid #e7e3d8;
}
section {
	width: 90%;
	margin: 10px auto;
}
h2 {
	font-family: 'CursiveSerifOblique';
	font-size: 40px;
	text-align: center;
}
footer {
	display: block;
	text-align: center;
}
hr {
	width: 90%;
	margin-top: 10px;
}

.bread, .cake, .cookie {
	width: 30%;
	float: left;
	margin: 10px;
	background-color: #e7e3d8;
}
.clear {
	clear: left;
}
figure {
	display: block;
	width: 90%;
	margin: 0px 10%;
	padding: 9px;
	text-align: left;
}
figure img {
	width: 90%;
	border: 1px solid #d6d6d6;
}
figcaption {
	text-align: center;
}

.clear-left {
	clear: left;
}
.pages:link {
	text-decoration: none;
}
.pages:hover {
	text-decoration: underline;
}
.pages:active {
	background-color: gray;
}

/* adjustment for mobile devices which have a maximum width of 960px */
@media only screen and(max-width: 959px){
	/* the rules for bread-html,cake.html and cookie.html */
	*{
		color: Chocolate;
	}
	main {
		max-width: 959px;
		min-width: 330px;
		border: 4px double Chocolate;
		border-radius: 50px;
		margin: 10px auto 10px auto;	
		text-align: center;
		background-color: #efefef;
	}
	h1{
		text-align: center;
		font-family: 'CursiveSerifOblique';
		font-weight: bold;
		font-style: italic;
		font-size: 40px;
		margin:20px auto 20px auto; 
	}
	nav {
		text-align: center;
	}
	nav>a {
		width: 90%;
		display: block;
		margin: 10px 0px;
		padding:0px 15px; 
	}
	nav>a:link {
		color: Chocolate;
		text-decoration: none;
	}
	nav>a:hover {
		color: Chocolate;
		text-decoration: underline;
	}
	nav>a:active {
		color: Chocolate;
		text-decoration: none;
		background-color: gray;
	}
	.nav-item {
		border-right: 1px solid #e7e3d8;
	}
	section {
		width: 90%;
		margin: 10px auto;
	}
	h2 {
		font-family: 'CursiveSerifOblique';
		font-size: 20px;
		text-align: center;
	}
	footer {
		display: block;
		text-align: center;
	}
	hr {
		width: 90%;
		margin-top: 10px;
	}

	.bread, .cake, .cookie {
		width: 30%;
		float: left;
		margin: 2px;
		background-color: #e7e3d8;
	}
	.clear {
		clear: left;
	}
	figure {
		display: block;
		width: 90%;
		margin: 0px 10%;
		padding: 2px;
		text-align: left;
	}
	figure img {
		width: 90%;
		border: 1px solid #d6d6d6;
	}
	figcaption {
		text-align: center;
	}


	.pages:link {
		text-decoration: none;
	}
	.pages:hover {
		text-decoration: underline;
	}
	.pages:active {
		background-color: gray;
	}
}
/* --end of max 960px-- */